:root {
    /* ---------- Sizes ---------- */
    --html-min-width: 320px;
    --html-max-width: 100vw;
    --container: 1200px;

    /* ---------- Colors ---------- */
    --color-1: #305B67;     // Цвет текста
    --color-2: #FDFBF5;     // Цвет фона
    --color-3: #ffffff;     //
    --color-4: #;     // текст
    --color-5: #;     // фон

    --error: #ff0000;

    /* ---------- Font Size ---------- */
    // --font-size-small-maxi: 12px;
    // --font-size-medium-mini: 14px;
    --font-size-medium: 16px;
    // --font-size-medium-semi: 18px;
    // --font-size-large-mini: 22px;
    // --font-size-big-mini: 28px;
    // --font-size-big: 30px;
    // --font-size-big-semi: 32px;
    // --font-size-giant: 48px;

    /* ---------- Typography ---------- */
    --font-helper: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-1: "Exo2", var(--font-helper);
    --font-family-2: "TenorSans", var(--font-helper);
    --font-family-3: "Hauora", var(--font-helper);
}
