html {
    min-width: $html-min-width;
    max-width: $html-max-width;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: var(--font-size-normal);
    line-height: 140%;
    color: var(---black);
    background-color: var(--bg-1);
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    @include from-notebook {
        padding: 0 32px;
    }
}
a {
    display: inline-block;
}
a, button {
    cursor: pointer;
}
input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    appearance: none;
}
::placeholder {
    font-size: var(--font-size-normal);
    opacity: .5;
    color: var(--gray);
}
input[placeholder] {
    text-overflow: ellipsis
}
:focus::-webkit-input-placeholder {
    color: transparent
}
:focus::-moz-placeholder {
    color: transparent
}
:focus:-moz-placeholder {
    color: transparent
}
:focus:-ms-input-placeholder {
    color: transparent
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    select:focus, textarea:focus, input:focus {
        font-size: var(--font-size-normal);
    }
}
::-webkit-scrollbar {
    background-color: var(--bg-2);
    height: 5px;
    width: 5px;
    @include from-tablet {
        height: 10px;
        width: 10px;
    }
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--gold);
    @include from-tablet {
        border-radius: 10px;
    }
}
::-webkit-scrollbar-track {
    border-radius: 5px;
    @include from-tablet {
        border-radius: 10px;
    }
}
.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    user-select: none; /* Non-prefixed version, currently  not supported by any browser */
}
.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}