.burger {
    transform: translateX(-110%);
    transition: all .4s ease;
    background-color: var(--gold);
    max-width: 320px;
    width: 100%;
    height: 100vh;
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    z-index: 101;
    top: 0;
    left: 0;
    transition: all .4s ease;
}

.burger__closer-wrap {
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    span {
        color: var(--white-main);
        margin-right: 10px;
    }
    &:hover {
        cursor: pointer;
    }
}

.burger.active {
    transform: translate3d(0%, 0%, 110px);

}

.burger__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.burger__menu-link {
    color: var(--white-main);
    font-size: var(--fs-16);
    margin-bottom: 24px;

    &:last-child {
        margin-bottom: 0;
    }
}

.burger__footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.btn-burger {
    font-size: var(--fs-16);
    font-weight: 600;
    padding: 18px;
    max-width: 276px;
}