.footer {
    padding: 36px 0 30px;
    @include from-fablet {
        padding: 60px 0 50px;
    }
    @include from-tablet {
        padding: 75px 0 70px;
    }
    @include from-laptop {
        padding: 90px 0 90px;
    }
    @include from-desktop {
        padding: 105px 0 115px;
    }
    .container {
        max-width: 1600px;
    }
}
.footer__wrap {
    @include from-tablet {
        display: flex;
        justify-content: space-between;
    }
}
.footer__cont {
    @include from-tablet {
        max-width: 350px;
        padding-right: 40px;
    }
}
.footer-contacts {
    padding-bottom: 24px;
    .footer__title {
        margin-bottom: 8px;
    }
}
.footer__title {
    font-family: var(--font-family-2);
    font-weight: 400;
    font-size: var(--font-size-large-mini);
    line-height: 132%;
    color: var(--color-4);
    letter-spacing: 1px;
    text-transform: uppercase;
    @include from-fablet {
        font-size: var(--font-size-big-mini);
    }
    @include from-tablet {
        font-size: var(--font-size-big);
    }
    @include from-laptop {
        font-size: var(--font-size-big-semi);
    }
    @include from-desktop {
        font-size: var(--font-size-giant);
    }
}
.footer-contacts__item {
    margin-top: 24px;
}
.footer-contacts__item-title {
    font-family: var(--font-family-1);
    font-weight: 400;
    font-size: var(--font-size-medium);
    line-height: 126%;
    opacity: 0.4;
    color: var(--color-1);
    letter-spacing: 1px;
}
.footer-contacts__item-text {
    margin-top: 12px;
    font-family: var(--font-family-1);
    font-weight: 400;
    font-size: var(--font-size-medium);
    line-height: 126%;
    color: var(--color-1);
    letter-spacing: 1px;
}
.link {
    cursor: pointer;
    &:hover {
        color: var(--color-4);
        transition: all 0.2s;
    }
}
.footer__img-mob {
    height: 260px;
    margin: 0 -16px;
    @include from-smartphone {
        height: 315px;
    }
    @include from-fablet {
        height: 420px;
    }
    @include from-tablet {
        display: none;
    }
    .image {
        object-fit: cover;
    }
}
.footer__img-dsk {
    display: none;    
    .image {
        object-fit: cover;
    }
    @include from-tablet {        
        display: block;
        max-width: 1073px;
        width: calc(100% - 350px);
        max-height: 582px;
        padding-top: 8px;
    }
    @include from-laptop {        
        padding-top: 9px;
    }
    @include from-desktop {        
        padding-top: 14px;
    }
}
.footer__form {
    max-width: 350px;
    padding-top: 24px;
    @include from-tablet {
        padding-top: 32px;
    }
}
.footer__form-title {
    font-family: var(--font-family-2);
    font-weight: 400;
    font-size: var(--font-size-large-mini);
    line-height: 132%;
    color: var(--color-4);
    letter-spacing: 1px;
    text-transform: uppercase;
    @include from-tablet {
        font-size: var(--font-size-big-mini);
    }
}
.footer-form {
    padding-top: 8px;
    @include from-tablet {
        padding-top: 16px;
    }
    .input-default {
        color: var(--color-4);
        background: transparent;
        border: 1px solid var(--color-4);
    }
    .input-default:focus {
        border-color: var(--color-4);
    }
    .input-default::placeholder {
        font-weight: 400;
        color: var(--color-4);
    }
    .input__check {
        margin-top: 16px;
    }
    .form-btn {
        width: 100%;
        margin-top: 8px;
    }
    .input__check-text {
        color: var(--color-4);
    }
    .input__agreement::before {
        border-color: var(--color-4);
    }
    .input__checkbox:checked + .input__agreement::before {
        background-color: var(--color-4);
    }
    .input__checkbox:checked + .input__agreement::after {
        border-color: var(--color-6);
    }
    .input__privacy {
        display: flex;
    }
    @media (hover: hover) {
        .input__privacy:hover .input__check-text {
            color: var(--color-4);
        }
    }
}