.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transform: translate3d(0, 0, 100px);
    width: 100%;
    padding: 8px 0;
    transition: all 0.3s;
    @include from-tablet {
        padding: 16px 0;
    }
}
.header.header__white {
    background-color: var(--color-6);
    transition: all 0.3s;
    box-shadow: 6px 3px 19px 0px #0000004d;
    @include from-tablet {
        padding: 13px 0;
    }
}
.header-wrap {
    width: 100%;
    height: 47px;
    position: relative;
    transition: all 0.3s;
    @include from-tablet {
        height: 110px;
    }
}
.header__white .header-wrap {
    transition: all 0.3s;
    @include from-tablet {
        height: 71px;
    }
}
.header-menu {
    position: absolute;
    z-index: 1;
    transform: translate3d(0, 0, 1px);
    top: 4px;
    left: 0;
    width: 34px;
    height: 34px;
    &__icon {
        width: 100%;
        height: 100%;
        stroke: var(--color-6);
        transition: all 0.3s;
    }
    @media (hover: hover) {
        &:hover {
            .header-menu__icon {
                stroke: var(--color-1);
                transition: all 0.3s;
            }
        }
    }   
    @include from-tablet {
        width: 42px;
        height: 42px;
        top: 13px;
    }
}
.header__white .header-menu {
    &__icon {
        stroke: var(--color-4);
        transition: all 0.3s;
    }
}
.header-phone {
    position: absolute;
    z-index: 1;
    transform: translate3d(0, 0, 1px);
    top: 9px;
    right: 0;
    width: fit-content;
    @media (hover: hover) {
        &:hover {
            .header-phone__icon {
                stroke: var(--color-1);
                transition: all 0.3s;
            }
        }
    }   
    @include from-tablet {
        display: block;
        top: 23px;
        left: 100px;
    }
    @include from-laptop {
        left: 136px;
    }
}
.header-phone__num {
    display: none;
    @include from-tablet {
        display: block;        
        font-family: var(--font-family-1);
        font-weight: 600;
        font-size: var(--font-size-medium);
        line-height: 126%;
        color: var(--color-6);
        letter-spacing: 1px;
        &:hover {
            color: var(--color-1);
            transition: all 0.3s;
        }
    }
}
.header__white .header-phone__num {
    color: var(--color-4);
    transition: all 0.3s;
}
.header-phone__icon {
    width: 24px;
    height: 24px;
    stroke: var(--color-6);
    pointer-events: none;
    transition: all 0.3s;
    @include from-tablet {
        display: none;
    }
}
.header__white .header-phone__icon {
    stroke: var(--color-4);
    transition: all 0.3s;
}
.header-logo {
    position: absolute;
    z-index: 1;
    transform: translate3d(-50%, 0, 1px);
    top: 0;
    left: 50%;
    width: 64px;
    height: 47px;
    transition: all 0.3s;
    .header-logo__icon {
        width: 100%;
        height: 100%;
        pointer-events: none;
        fill: var(--color-6);
    }
    @media (hover: hover) {
        &:hover {
            .header-logo__icon {
                fill: var(--color-1);
                transition: all 0.3s;
            }
        }
    }    
    @include from-tablet {
        width: 152px;
        height: 110px;
    }
}
.header__white .header-logo {
    @include from-tablet {
        width: 98px;
        height: 71px;
        transition: all 0.3s;
    }
}
.header__white .header-logo__icon {
    fill: var(--color-4);
    transition: all 0.3s;
}
.header__btn {
    display: none;
    @include from-tablet {
        display: flex;
        position: absolute;
        z-index: 1px;
        transform: translate3d(0, 0, 1px);
        top: 7px;
        right: 0;
        width: 213px;
    }
}