.title {
    text-transform: uppercase;
    font-family: var(--family-titles);
    line-height: normal;
    font-size: var(--fs-22);
    line-height: 29.216px;
    @include from-tablet {
        font-size: var(--fs-32);
    }
    @include from-notebook {
        font-size: var(--fs-48);
        line-height: 63.744px;
    }
}

