.images-modal {
    position: relative;
    width: 97vw;
    max-width: 857px;
    padding: 54px 16px 16px 16px;
    background-color: var(--color-6);
    border-radius: 20px;
    overflow: hidden;
    @include from-desktop {
        padding: 54px 46px 46px 46px;
    }
}
.images__wrap {
    width: 100%;
    height: 100%;
    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.intopModal-images {
    .intopModal__close {
        right: 16px;
        top: 20px;
        svg {
            height: 14px;
            width: 14px;
            fill: var(--color-4);
        }
        .intopModal__close-text {
            color: var(--color-4);
        }
    }    
}