.slider-btn {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .2s ease;
    background-color: transparent;
    .slider-btn__icon {
        width: 22px;
        height: 22px;
        stroke: transparent;
        transition: stroke 0.2s ease;
        pointer-events: none;
    }
}
.slider-btn__gold {
    background-color: var(--color-4);
    border: solid 1px var(--color-4);
    .slider-btn__icon {
        stroke: var(--color-6);
    }
    &:hover {
        background-color: var(--color-6);
        border-color: var(--color-6);
        .slider-btn__icon {
            stroke: var(--color-4);
        }
    }
    &:active {
        opacity: .6;
    }
}

/* ----- pagination ----- */
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: var(--color-6);
    opacity: 0.3;
    transition: all .2s ease;
}
.swiper-pagination-bullet-active {
    opacity: 1;
}
.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    @media (hover: hover) {
        &:hover {
            background-color: var(--color-4);
            opacity: .7;
        }
    }
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 7.5px 0;
}