.title {
    text-transform: uppercase;
    font-family: var(--font-family-2);
    font-size: var(--font-size-large-mini);
    line-height: 132%;
    text-align: center; 
    @include from-tablet {
        font-size: var(--font-size-big-semi);
    }
    @include from-notebook {
        font-size: var(--font-size-giant);
    }
}

