.hero {
    position: relative;
    height: 100vh;
    min-height: 600px;
    max-height: 720px;   
    @include from-notebook {
        max-height: 790px;
        min-height: 660px;
    }
    @include from-desktop {
        min-height: 720px;
        max-height: 860px;
    }
}
.hero-slider {
    position: absolute;
    z-index: 1;
    transform: translate3d(0, 0, 1px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    .swiper {
        height: 100%;
    }
    .swiper-wrapper {
        height: 100%;
    }
    .swiper-slide {
        height: 100%;
        overflow: hidden;
    }    
    .image {
        object-fit: cover;
    }
    // .slider-pagination {
    //     margin-top: 12px;
    //     text-align: center;
    //     @include from-tablet {
    //         margin-top: 16px;
    //     }
    //     @include from-laptop {
    //         margin-top: 20px;
    //     }
    //     @include from-notebook {
    //         margin-top: 24px;
    //         display: none;
    //     }
    // }
}
.hero-slider::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: 2;
    transform: translate3d(0, 0, 2px);
    width: 100%;
    height: 100%;
    background-color: var(--color-1);
    opacity: 0.3;
    pointer-events: none;
}